.chat-main
  .header-right
    .header-right__left-box
      %h2.main-header__left-box__current-group 
        abc
          
      .header-right__left-box__ul
        Member：
        %li.main-header__left-box__member-list__member
          - @group.users.each do |user|
            = user.name
    
    .header-right__edit-btn
      = link_to "Edit", edit_group_path(@group)
     



  .right-content
  = render @messages
     


  .bottom-content
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__input-box

        = f.label :image, class: 'form__input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'


