.side-bar
  .header-left
    .side-header__box
      .side-header__box__name
        = current_user.name

      .side-header__box__icon
        =link_to new_group_path, class: "side-header__btn side-headers__btn--edit" do
          = icon('fas', 'edit')

        =link_to edit_user_path(current_user), class: "side-header__btn side-headers__btn--cog" do
          = icon('fas', 'cog')


  .left-content
    -current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message
